{% extends 'global/base.html' %}

{% block title %}Home | {% endblock title %}

{% block content %}

{% include 'global/partials/messages.html' %}
<br/>
<main class="container mt-5 text-center">
    <h1>Bem-vindo à sua Jornada para o Sucesso no ENEM!</h1>
    <p>Este é o seu ponto de partida para uma preparação sólida e eficaz no ENEM. Aqui, você terá acesso a ferramentas para calcular sua nota, valiosas dicas de cursinhos e a conveniência de baixar folhas de redação em PDF para aprimorar suas habilidades e atingir o seu melhor desempenho no Exame Nacional do Ensino Médio.</p>
    <p class="inicio">Prepare-se, vamos começar!</p>
</main>

<section class="container text-center mt-4">
    <a class="btn btn-primary" href="{%url 'home:Assuntos'%}">ACESSE AQUI E CONFIRA OS ASSUNTOS QUE MAIS CAEM <br>NO ENEM E DICAS DE CURSINHOS PARA CADA ÁREA DE CONHECIMENTO</a>
</section>
<br>

<div class="d-flex justify-content-center">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="max-height: 300px; width: 500px;">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://raw.githubusercontent.com/tgn76ok/img2/main/calc.jpg" class="d-block w-100" alt="Imagem 1">
                <div class="carousel-caption d-none d-md-block">
                    <p> Cada momento dedicado aos estudos é um investimento no seu futuro acadêmico.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://raw.githubusercontent.com/tgn76ok/img2/main/livros.jpg" class="d-block w-100" alt="Imagem 2">
                <div class="carousel-caption d-none d-md-block">
                    <p>A dedicação à leitura expande horizontes - explore diferentes temas para enriquecer seu conhecimento.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://raw.githubusercontent.com/tgn76ok/img2/main/maolivro.jpg" class="d-block w-100" alt="Imagem 3">
                <div class="carousel-caption d-none d-md-block">
                    <p> Aqui, você pode calcular suas notas e planejar sua jornada para o sucesso.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" ariahidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock content %}

{% include 'global/partials/footer.html' %}
