<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'home:prova' %}">Provas Antigas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:notas' %}">Calculadora de Notas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Redação
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'home:Dicas' %}">Dicas</a></li>
              <li><a class="dropdown-item" href="{% url 'home:Redacoes' %}">Nota Mil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li> <a class="dropdown-item" href="https://raw.githubusercontent.com/tgn76ok/img2/main/folha-redacao.pdf
                  " target="_blank" rel="noopener noreferrer" download>Folha em PDF</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>


    <a class="navbar-brand" href="{% url 'home:login' %}">Login</a>

  </div>
</nav>